{% extends "base.html" %}


{% block content %}

<div class="container">
  <h1>Cart</h1>

  {% if cart.products.exists %}
  <table class="table">
    <thead>
      <tr>
        <th>#</th>
        <th>Product Name</th>
        <th>Product Price</th>
        <th>Quantity</th>
        <th>Subtotal</th>
      </tr>
    </thead>
    <tbody>
      {% for product in cart.products.all %}
      <tr>
        <th scope="row">{{ forloop.counter }}</th>
        <td><a href='{{ product.get_absolute_url }}'>{{ product.title }}</a>
          {% include 'products/snippets/update-cart.html' with product=product cart=cart in_cart=True %}
        </td>
        <td>{{ product.price }}</td>
        <td>
          <form method="POST">
            {% csrf_token %}
            <div class="quantity">
              <button class="plus-btn" type="submit" name="button">
                +
              </button>
              <input type="text" name="quantity" value="1" onkeydown="return false">
              <button class="minus-btn" type="submit" name="button">
               -
              </button>
            </div>
         
        </form>
        </td>
        <td>{{product.price }}</td>
      </tr>
      {% endfor %}
      <tr>
        <td colspan="2"></td>
        <td><b>Total</b> {{ cart.total }}</td>
      </tr>
      <tr>
        <td colspan="2"></td>
        <td><a class='btn btn-success' href="{% url "cart:checkout" %}">Proceed to Checkout</a></td>
      </tr>
    </tbody>
  </table>

  {% else %}
  <p class='lead'>Cart is empty</p>
  {% endif %}
</div>
<div class="col my-5 py-5">

</div>
<div class="col my-5 py-5">

</div>
<div class="col my-5 py-3">

</div>
<div class="col my-5 py-3">

</div>
{% endblock %}
